/* styles.css */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#game-container {
  display: grid;
  gap: 1px; /* Space between squares */
}

.square {
  transition: background-color 0.3s;
  box-sizing: border-box; /* Include border in the width and height */
  display: flex;
  align-items: center;
  justify-content: center;
}

#win-message {
  margin-top: 20px;
  font-size: 24px;
  color: #28a745;
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;

  /* Centering the modal correctly */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-buttons {
  margin-top: 20px;
}

.modal-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
}

/* https://isotropic.co/tool/hex-color-to-css-filter/ */
.green-filter {
  filter: invert(87%) sepia(25%) saturate(612%) hue-rotate(61deg)
    brightness(90%) contrast(85%);
}

.red-filter {
  filter: invert(64%) sepia(45%) saturate(851%) hue-rotate(310deg)
    brightness(103%) contrast(101%);
}

.blue-filter {
  filter: invert(70%) sepia(48%) saturate(5255%) hue-rotate(208deg)
    brightness(104%) contrast(101%);
}
